{
    "presets": [
       [ "env", {
            "targets" : {
                "broswers" : [
                    "last 5 versions",
                    "ie >= 8"
                ]
            }
        }]
    ]
}